.org-admin-list {
    margin-bottom: 1.5em;


    .ui.grid {
        width: 100%;
        margin-top: 1em!important;
        margin-bottom: 0!important;
        margin-left: 0!important;
        margin-right: 0!important;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 0.5em;

        .column {
            padding: 0!important;

            &:last-child {
                text-align: right;
                text-decoration: underline;
    
                div {
                    width: fit-content;
                    margin-left: auto;
                }
    
                div:hover {
                    cursor: pointer;
                }
    
                img {
                    padding-right: 0.25em;
                    width: 1.1em;
                }
            }
        }

        &:last-child {
            margin-bottom: 1em!important;
        }
    }

    .admin-name-column {
        display: flex;
    }

    .new-admin-notice {
        font-size: 2em;
        height: 10px;
        padding: 0 5px;
        align-self: center;
    }
}