.admin-button-container {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 2.5em;
    margin-right: 3em;
    z-index: 5;
}

@media only screen and (min-width: 992px) {

    .admin-button-container {
        position: sticky;
        top: 3.5em;
    }

    .big-home-button {
        position: absolute;
        top: -2em;
    }
}

.site-admin-toolbar {
    background-color: #f5f5f5;

    .ui.container {
        display: flex;
        padding: 1em 0;
    }

    .toolbar-header {
        align-self: center;
        margin: 0 1.75em 0em 0;
        font-size: 1.3em;
    }

    .ui.basic.button, .ui.basic.buttons .button {
        font-size: 1.15em!important;
        font-weight: bold!important;
        padding: 0.3em 0.5em!important;
        display: flex!important;
        align-items: center!important;
        
        &.something-to-authorize {
            box-shadow: 0 0 0 1px #008b9d inset!important;
            color: #008b9d !important;

            .group.icon {
                background-color: #008b9d!important;
            }
        }

        &.nothing-to-authorize {
            box-shadow: 0 0 0 1px #8d8d8d inset!important;
            color: #8d8d8d !important;

            .group.icon {
                background-color: #8d8d8d!important;
            }
        }
        
        .group.icon {
            color: white;
            border-radius: 1em;
        }

        i {
            height: 1.75em!important;
            width: 1.75em;
            margin-right: 0.5em!important;

            &:before {
                position: relative;
                top: 0.3em;
            }
            
            &.calendar:before {
                font-size: 1.5em!important;
            }
        }
    }

    h3, button, .toolbar-header {
        color: #008b9d!important;
        font-weight: bold;
    }

    a {
        position: relative;
        margin-right: 1em;
    }

    .number-of-events-notification {
        display: flex;
        flex: 1 1 auto;
        position: absolute;
        right: 0.75em;
        top: -0.5em;
        background-color: red;
        color: white;
        padding: 0.25em;
        min-width: 20px;
        height: 20px;
        max-width: 50px;
        text-align: center;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}

#authorization-details {
    .admin-main-title{
        font-size: 30px;
        font-weight: bold;
        margin: calc(2rem - 0.14285714em) 0 1rem;
    }
    
    .big-home-button{
        button {
            padding-left: 2.25em!important;
            border-radius: 2em;
            background-color: white;
            color: #2DB9CB;
            font-size: 17px !important;
            vertical-align: middle !important;
            animation-duration: 1s !important;
            animation-fill-mode: forwards !important;
            box-shadow: 0 3px 9px 0 lightgrey;    
        }

        i {
            background-color: transparent!important;
        }
    }
    .big-home-button.left{
        animation: swipeleft;
    }
    .big-home-button.right{
        animation: swiperight;
    }
    .big-home-button.top.right{
        animation-delay: 0.2s;
    }
    .big-home-button.bottom.left{
        animation-delay: 0.4s;
    }
    .big-home-button.bottom.right{
        animation-delay: 0.6s;
    }

    .label-types {
        label {
            font-weight: bold;
        }

        div {
            margin-bottom: 0.5em;
        }
    }

    .admin-homepage-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: #2db9cb;
        border-bottom: 1px solid #c7c7c7;

        a {
            color: #2db9cb;
            margin-bottom: 1em;
            font-size: 18px;
            text-decoration: underline;
        }
    }

    .actions-toolbar {
        .ui.container {
            display: flex;
            border-bottom: 1px solid #c7c7c7;
            padding: 0.5em;
            
            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0.5em;

                &:last-child {
                    padding-right: 0;
                    margin-left: auto;
                }
            }

            .selection.dropdown {
                padding: 0.5em;
                min-height: 1em;
                min-width: 10.5em;
                margin-left: 0.5em;

                i {
                    padding-top: 0.6em;
                }
            }

            .ui.checkbox {
                padding: 0;
                width: 2.5em;
                padding-top: .75em;
                padding-bottom: 0.75em;

                label:before {
                    width: 20px;
                    height: 20px;
                }

                input:checked~.box:after, input:checked~label:after {
                    content: '\e800'!important;
                    padding-top: 2.5px;
                    color: #2db9cb;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
            }
        }
    }

    .unauthorized-event-list {
        margin-top: 1em;

        .ui.segment {
            margin-top: 0!important;
        }

        .ui.container > .ui.container {
            border-bottom: 1px solid #e8e8e8;
            padding-bottom: 1em;
            margin-bottom: 1em;
        }

        .no-events {
            text-align: center;
            font-size: 2em;
        }
    }

    .authorization-status {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        > span {
            font-weight: bold;
        }

        >.ui.checkbox {
            padding: 0 1em;
        }
        
        button {
            padding: 0.6em 0.75em;
        }

        img {
            width: 1.5em;
            cursor: pointer;

            &:first-child {
                cursor: default!important;
            }
        }
    }
    
    .authorization-comment {
        display: flex;
        margin: 0 1em;

        .ui.input {
            width: 32em;
            margin-left: 1em;
    
            input {
                padding: 0.5em;
            }
        }
    }

    .authorize-spacer {
        width: 3.5%;
        padding-left: 0.5em;
    }

    .event-details {
        display: flex;
    }
    
    .authorize-column {
        width: 47.5%;
        flex: 1 1 auto;
        padding: 0 1em;
        position: relative;

        .disabled, .disabled.fields .field, .disabled.field, .field :disabled {
            opacity: 1!important;

            > label {
                opacity: 1!important;
            }
        }
        
        .authorize-event-image {
            margin-bottom: 1em;

            label {
                display: block;
                margin: 0em 0em 0.28571429rem 0em;
                color: rgba(0, 0, 0, 0.87);
                font-size: 0.92857143em;
                font-weight: bold;
                text-transform: none;
            }

            img {
                width: 100%;
            }
        }
    }

    .ui.checkbox {
        label:before {
            width: 20px;
            height: 20px;
        }

        label:after {
            width: 20px;
            height: 20px;
            color: white;
        }
        
        input:checked ~ .box:after, input:checked ~ label:after {
            content: '\e800'!important;
            padding-top: 2.5px;
            background-color: #2db9cb;
            transform: scale(1);
        }
    }
}

.see-more-button {
    bottom: 1em;
    right: 1em;
    position: absolute;
    color: #2db9cb;

    &:hover {
        cursor: pointer;
    }
}

.see-more-spacer {
    margin-bottom: 3em;
}

.organization-auth {
    padding-bottom: 3em;

    label {
        font-weight: bold;
    }
}