#clock-in-out{
    margin: 15px 15px 150px 15px !important;
    
    // entrance
    animation: swipeup;
    animation-duration: 0.7s;
    animation-direction: forward;

    > .container {
        margin-top: 5em;
    }

    .main-title {
        display: inline-block;
        margin-top: 12px;
        color: #28b0c4;
        margin-bottom: 1em;
    }

    .sub-title {
        font-size: 15px;
        margin: 0.75em 0 0 0;
    }
    
    .clock-in-button{
        height: 80px !important;
        font-size: 25px !important;
        background-color: #2DB9CB !important;
        color: white !important;
    }

    .clock-out-button{
        height: 80px !important;
        font-size: 25px !important;
        color: white;
        background-color: #4b4b4b;
    }

    .clocked-button{
        height: 80px !important;
        font-size: 15px !important;
    }

    #event-link{
        float: right;
        margin-top: 10px;
        padding: 0.5em 0.75em;
    }
    
    .right-date{
        float: right;
        font-weight: bold;
    }

    .ui.grid {
        margin-top: auto;
    }

    .or-seperator {
        margin-top: 12px;
        margin-left: 25px;
        font-weight: 900;
        color: gray;
    }

    .or-header {
        margin-top: 12px;
    }

    .new-clock-in-section {
        .fields {
            align-items: center;

            > .field {
                width: 20em;
            }

            input {
                padding: 0.5em!important;
            }
        }

        button {
            height: 2.65em;
            align-self: flex-end;
            color: #36bccd!important;
            border-color: #36bccd!important;
            font-weight: bold;
        }
    }

    .section-divider {
        width: 100%;
        height: 1em;
        margin: 7em 0em 4.25em 0em;
        background: #e5e5e5;
    }

    .clock-in-entry {
        border-bottom: 1px solid #ededed;
        padding: 0.75em 0!important;
    }

    .manual-clock-in-out {
        padding-top: 1.5em;
        margin-top: 1.5em;
        border-top: 1px solid #e8e8e8;
    }

    .initial-entry {
        margin-top: -1em;
        font-weight: bold;
    }

    .loader {
        margin-top: 5em;
    }

    .ui.search.dropdown>.text {
        width: 100%;
    }

    #timesheet-log {
        color: #848484;
        margin-top: 4em;
        
        table {
            width: 100%;
        }

        thead{
            tr{
                td{
                    width: auto;
                    padding: 6px 0px !important;
                    font-weight: 900;
                    border-bottom: 1px solid #e7e7e7;
                }
            }
        }
        tbody{
            tr{
                td{
                    padding: 12px 0px !important;
                    border-bottom: 1px solid #e7e7e7;
                }
            }
        }
    }
}