#create-organization{
    padding: 50px 15px 50px 15px !important;
    
    // entrance
    animation: swipeup;
    animation-duration: 0.7s;
    animation-direction: forward;
}

.organization-admins {
    margin-top: 2em;

    .new-admin-button {
        display: flex;
        justify-content: flex-end;
        text-decoration: underline;
        color: #2db9cb;
    }

    a:hover {
        cursor: pointer;
    }

    > .ui.segment {
        margin-top: 0!important;
    }

    label {
        font-weight: bold;
    }
}

.add-admin-section {
    margin-top: 2em;

    .fields:first-of-type {
        margin-top: 0.5em!important;
    }

    .fields:last-child {
        .field:last-child {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;

            button {
                height: 2.5em;
            }
        }
    }

    // Controls circle color
    .ui.radio.checkbox input:checked ~ .box:after, .ui.radio.checkbox input:checked ~ label:after {
        background-color: #2db9cb!important;
    }
    
    // Controls outline color when checked
    .ui.checkbox input:checked ~ .box:before, .ui.checkbox input:checked ~ label:before {
        border: 2px solid #2db9cb!important;
    }

    .ui.radio.checkbox {
        label {
            font-weight: normal!important;
        }
    }
}

#org-update-msg {
    text-align: right;
    color: #2DB9CB;
    font-weight: bold;
    font-size: 1.2em;
}