#create-event{
    padding: 50px 15px 50px 15px !important;
    
    // entrance
    animation: swipeup;
    animation-duration: 0.7s;
    animation-direction: forward;
}

#create-event-form{
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: 15px;
    line-height: 15px;

    .selection.dropdown, .toggle-settings-table {
        margin-bottom: 1em;
    }
}