#event-page{
    background-color: #f5f5f5;
    
    #top-spacer{ width: 100%; height: 50px; background-color: #f5f5f5; }

    .ui.container{ 
        background-color: white !important;
    }
    .logistics-answer{
        padding-left: 10px;
        max-width: 100%;
        white-space: pre-line;
        vertical-align: top;
    }
    animation: fadein;
    animation-duration: 0.7s;
    animation-direction: forward;
   
    .section-title{
        font-size: 20px;
        font-family: 'Lato';
        font-weight: 800;
    }
    .sub-section-title{
        font-size: 18px;
        font-family: 'Lato';
        font-weight: 500;
        color: #888888;
    }
    .section-content{
        color: #a5a5a5;
        margin-left: 0!important;
        margin-top: 0!important;
        
        .column {
            padding-left: 0!important
        }

        .row {
            padding-top: 0!important;
            padding-bottom: 0!important;
        }
        
        tr {
            td:first-child {
                width: 20%;
            }
        }
    }

    .to-student-service {
        display: flex;
        justify-content: flex-end;
        font-size: 1.5em;
        text-decoration: underline;
        
        // Have to directly override <a> color
        a {
            color: #2db9cb;
        }
        img {
            margin-left: 0.5em;
        }
    }

    .event-options-menu {
        position: absolute!important;
        top: -7.5em;
        right: 1em;
    }
}

#event-image{
    vertical-align: middle;
    width: 60%;
    height: 405px;
    background-size: cover;
    background-position: center;
    background-color: gray;
    display: inline-block;
}

#card-info{
    vertical-align: middle;
    padding: 0px 35px;
    display: inline-block;
    width: 40%;
    position: relative;
    #date{
        color: #d1410c;
        font-size: 17px;
    }
    #event-page-title{
        font-size: 20px;
        font-family: 'Lato';
        font-weight: 800;
        margin-top: 40px !important;
    }
    a{
        font-size: 16px;
        color: #7f7f7f !important;
    }
    a:hover{
        text-decoration: underline;
    }
}

#event-likes{
    height: 60px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    width: 100% !important;
    padding: 0px 25px;
    display: flex;
    align-items: center;
    
    #like-container{
        width: 60%;
        #like-button{
            color: #bababa;
            font-size: 12px;
            text-align: center;
            i{ margin-right: 0px !important; }
            line-height: 1.25;
            display: inline-block;
        }
    }
    .liked{ color: #37b9ca !important; }
}

.admin-controls{
    width: 40% !important;
}

#student-eventpage-controls{
    padding-left: 25px;
    width: 100%;
    display: inline-block;

    .ui.button{
        height: 45px !important;
        font-size: 15px !important;
        font-weight: 400 !important;
    }

    #attended{
        width: calc(100% - 60px);
    }

    #attending-eventpage-button{
        width: calc(50% - 4px);
        vertical-align: middle;
        i{
            margin-right: 5px !important;
        }
    }

    #register, #clock-change, #login{
        width: 100%;
    }

    .inverted{
        border: 2px solid #28b0c4 !important;
        color: #28b0c4 !important;
        background-color: white !important;
    }

    .normal{
        color: white !important;
        background-color: #28b0c4 !important;
    }

    #edit{
        width: 60px;
        color: #28b0c4 !important;
    }
}

#outside-attendees-message-container{
    padding: 20px 25px 0px 25px;
    .ui.message{ color: #7e7e7e !important; }
}

#event-content{
    padding: 40px 25px;
    word-break: break-word;

    #first-column{ 
        display: inline-block;
        width: 60%;
        vertical-align: top;
        padding-right: 75px;
        padding-bottom: 20px;
    }
    #second-column{
        display: inline-block;
        width: 40%;
        vertical-align: top;
        padding-bottom: 20px;
    }
    #description{
        white-space: pre-line;
    }
    #location-name{
        text-decoration: underline;
        color: #198f9f;
        font-size: 16px;
    }
    strong{
        font-weight: 700;
    }
    #send-question{
        float: right;
        margin-top: 1em;

        button {
            margin-bottom: 10px !important;
            color: white !important;
            background-color: #28b0c4 !important;
            height: 35px !important;
            line-height: 0.8;
            font-size: 15px !important;
            font-weight: 400 !important;
        }
    }
}

@media only screen and (min-width: 600px){
    #about-this{ margin-top: 0px !important; }
}

@media only screen and (max-width: 600px){
    #event-page{ height: calc(100vh - 60px) !important; }
    #event-content, #outside-attendees-message-container{
        padding-top: 25px !important;
    }
    #event-image{
        height: 225px;
        display: block !important;
        width: 100% !important;
    }
    #card-info{
        width: 100% !important;
        display: block !important;
        padding: 0px 20px !important;

        #date {
            margin-top: 15px;
        }
        
        #event-page-title {
            margin-top: 12px !important;
        }
    }
    #top-spacer{
        height: 0px !important;
    }
    #first-column{ 
        display: block !important;
        width: 100% !important;
        padding-right: 0px !important;
    }
    #second-column{
        display: block !important;
        width: 100% !important;
    }
    #event-page-container{ 
        margin: 0px 0px 0px 0px !important;
        height: calc(100vh - 60px) !important;
        .scrollable{
            height: calc(100vh - 125px) !important;
            overflow-y: scroll;
        }
        #mobile-registration{
            padding: 10px 15px;
            height: 65px;
        }
    }
    
    #event-likes{
        height: auto;
        border-top: 0px;
        padding-bottom: 10px;
        display: block;
        align-items: top;
        
        #like-container{
            width: 100%;
        }
        
    }
    #student-eventpage-controls{
        padding-left: 0px;
        width: 100%;
        display: block;
    }

    .event-options-menu {
        top: 0em;
    }
}

#my-comment-icon{
    vertical-align: middle;
    margin-right: 5px;
}

#organizer-container{
    text-align: center;
    padding: 30px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;

    #organizer-info{
        margin: auto;
        text-align: left;
    }
}

#desktop-student-controls-container{
    width: 40%;
}

#cancel-section {
    padding: 1em;
    
    .ui.button {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .event-options-menu {
        top: 0.5em;
    }
}