.event-preview{
    vertical-align: top;
    animation: popopen;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: 0.2s;
    display: inline-block;

    /**new style gary meeting**/
    width: 285px;
    height: 350px;
    margin-top: 35px;
    margin-right: 35px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.055), 0 3px 15px 0 rgba(0, 0, 0, 0.075);
    
    &:hover{
        cursor: pointer;
        box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.2), 5px 9px 25px 0 rgba(0, 0, 0, 0.19);
    }
}

.ep-picture{
    position: relative;
    height: 55%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.ep-event-type {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 5%;
    margin: 0 1em;
    border-radius: 5px;
    padding: 0.25em 0.5em;
    font-size: 1em;
}

.ep-info{
    position: relative;
    height: 45%;
    width: 100%;
    padding: 10px 15px;
    color: black;
    
    .ep-date{
        color: #008b9d;
        font-size: 17px;
        font-weight: bold;

        .ongoing-preview {
            font-size: 14px;
        }
    }
    .et-name-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 4px;
        height: 85px;
        width: 250px;
        overflow: hidden;
        
        p {
            padding: 2px 0px !important;
        
            &:last-child {
                justify-self: flex-end;
            }
        }
    }

    .et-eventname{
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 800;
        line-height: 1.25;
        width: 100%; 
        cursor: pointer;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        margin-bottom: 0;
    }
    
    .et-eventname:hover{
        text-decoration: underline;
    }
    
    .et-orgname{
        color: black;
        font-size: 14.5px;
        font-weight: 500;
        cursor: pointer;
        white-space: nowrap; 
        width: 100%; 
        overflow: hidden;
        text-overflow: ellipsis; 
        
        &:hover{
            text-decoration: underline;
        }
    }
    
    .button-container{
        position: absolute;
        bottom: 10px;
    }

    .like-container{
        position: absolute;
        bottom: 10px;
        right: 15px;
        color: #bababa;
        font-size: 12px;
        text-align: center;
        i{margin-right: 0px !important;}
        line-height: 1.25;
        .liked{ color: #37b9ca; } 
    }

    .preview-status {
        background-color: rgba(255, 255, 255, 0.1) !important;
        border: 2px solid #2DB9CB !important;
        height: 25px !important;
        padding: 3px 8px 3px 8px !important;

        &.preview-attending {
            color: #2DB9CB !important;
            border-color: #2DB9CB !important;
        }
        &.preview-attended {
            color: #cc2e2e !important;
            border-color: #cc2e2e !important;
        }
        &.preview-pending {
            color: yellow !important;
            border-color: yellow !important;
        }
        &.preview-selective {
            color: black !important;
            border-color: black !important;
        }
    }
    
    .ep-register-button{
        color: rgba(255, 255, 255, 1) !important;
        background-color: #2DB9CB !important;
        border-radius: 3px;
        height: 25px !important;
        padding: 3px 10px 3px 12px !important;
    }
}


// three wide main view (not org view)
@media only screen and (max-width: 1300px) {
    .eds-layout__body{
        .event-preview{
            width: calc(33% - 35px);
        }
    }
}

// two wide main view (not org view)
@media only screen and (max-width: 1159px) {
    .eds-layout__body{
        .event-preview{
            width: calc(50% - 35px);
        }
    }
}

// two wide main view
@media only screen and (max-width: 839px) {
    .eds-layout__body{
        .event-preview{
            width: 100%;
            display: block;
            margin-right: 0px !important;
        }
    }
}

// mobile
@media only screen and (max-width: 600px) {
    .event-preview{
        width: 100%;
        display: block;
        margin-right: 0px !important;
    }
}