#events-list{
    padding: 50px 0px 50px 0px !important;
    
    // entrance
    animation: popopen;
    animation-duration: 0.7s;
    animation-direction: forward;

    > h1 {
        color: #008b9d;
        margin: 1em 0em 2em;
    }

    .events-display-message {
        text-align: center;
    }

    .new-event-button {
        position: absolute;
        width: inherit;
        top: 16.5em;
        display: flex;
        justify-content: flex-end;
        padding-right: 2.5em;

        button {
            background: none;
            color: #2db9cb;
            padding: 1em 0em;
            font-size: 1.25em;

            i {
                padding-right: 1.5em;
            }
        }
    }

    .eventlist-tabs {
        .menu, .tab {
            border: none!important;
            padding: 0;
        }

        .menu {
            .item {
                justify-content: center;
                min-width: 9em;
                color: #c7c7c7;
                border-bottom: 5px #c7c7c7 solid;
            }

            .active.item {
                color: #008b9d;
                border-bottom: 5px #008b9d solid;
            }

        }

        .event-preview {
            margin-top: 1em!important;
        }
    }
}