#favorites-list{
    padding: 50px 0px 50px 0px !important;
    
    // entrance
    animation: popopen;
    animation-duration: 0.7s;
    animation-direction: forward;

    > h1 {
        color: #008b9d;
        margin: 1em 0em 2em;
    }

    .favorite-tabs {
        .menu, .tab {
            border: none!important;
            padding: 0;
        }

        .menu {
            .item {
                justify-content: center;
                min-width: 9em;
                color: #c7c7c7;
                border-bottom: 5px #c7c7c7 solid;
            }

            .active.item {
                color: #008b9d;
                border-bottom: 5px #008b9d solid;
            }

        }

        .favorite-preview {
            margin-top: 1em!important;
        }
    }
}