#foot-container{
    height: 150px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.178), 0 3px 10px 0 rgba(0, 0, 0, 0.164) !important;
}

#footer{
    height: 80px !important;
    padding: 25px;
    background-color: white;
    a:link{
        color: #2DB9CB;
    }
    a:visited{
        color: #2DB9CB;
    }
    a:hover{
        color: #2DB9CB;
    }
    a:active{
        color: #2DB9CB;
    }
    .lastcolumn{
        padding: 0px !important;
    }
}

#bottom-foot{
    height: 70px !important;
    width: 100%;
    padding: 25px;
    background-color: #008B9D;
    color: white;
    text-align: center;
}

.foot-link{
    color: #2DB9CB;
}

#footer-logo{
    width: 100px;
}

// mobile
@media only screen and (max-width: 600px) {
    #footer-logo{
        width: 100% !important;
    }
}