#root{
    height: 100vh !important;
    overflow: hidden;
}

#app-body{
    min-height: 100vh; // nav = 60px, footer = 150px;
    display: flex;
    flex-direction: column;
}

#scroll-body{
    height: calc(100vh - 60px) !important;
    margin-top: 60px;
    width: 100vw !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-title{
    color: #008B9D;
    font-size: 22px !important;
}

.side-margins{
    margin: 0px 15px 0px 15px !important;
}

.datepicker{
    width: 100% !important;
    font-size: 15px !important;
    border: 0px;
}

.loadmore{
    color: #2DB9CB;
    width: 100%;
    text-align: right;
    font-size: 15px;
    margin-top: 1em;
    
    a{
        color: #2DB9CB;
    }

    span {
        text-decoration: underline;

        &:hover {
            cursor: pointer;
        }
    }
}

.link{
    color: #2DB9CB !important;
    a{color: #2DB9CB !important;}
}

.download-link{
    opacity: 0.99;
}

.download-link:hover{
    opacity: 0.5;
    color: #2DB9CB !important;
    cursor: pointer;
}

.sub-title{
    font-size: 18px;
}

.small-title{
    font-size: 22px;
}

.photo-upload{
    height: 120px !important;
    min-height: 120px !important;
}

.photo-upload i{
    font-size: 35px !important;
}

.inline{
    display: inline-block;
}

.left-spaced{
    margin-left: 10px !important;
}

.bottom-mobile-spaced{
    margin-bottom: 15px;
}

.flex-element {
    display: flex!important;
}

.ui-link{
    color: #2DB9CB;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}

.upload-button{
    background-color: #008B9D !important;
    color: white !important;
}

.like-icon{
    width: 30px;
}

#alert-modal-content{
    white-space: pre-line;
}

.missing-field {
    input, .ui.search.dropdown > input.search {
        box-shadow: 0px 0px 5px red!important;
    }  
}

.disabled-field {
    opacity: 0.5;
    cursor: default!important;
}

.error-message {
    color: red;
}

.center-text {
    text-align: center;
}

.bold-text {
    font-weight: bold;
}

.controls {
    button {
        margin-top: 10px;
        margin-bottom: 50px;
        float: right;
        font-size: 15px !important;
        color: white !important;
    }

    .submit-button {
        background-color: #2DB9CB !important;
    }
}

/* Animations */

@keyframes popopen {
    0% {transform: rotateX(90deg); opacity: 0;}
    100% {transform: rotateX(0deg); opacity: 1;}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes spinin {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes swiperight{
    
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes swipeleft{
    
    0% {
        transform: translateX(-100vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0vw);
        opacity: 1;
    }
}

@keyframes swipeup{
    
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

/* Semantic UI Overrides */

.ui.icon.input{
    width: 100% !important;
}

.ui.inverted.green.button {
    background-color: white !important;
}

.ui.positive.button{
    background-color: #2DB9CB !important;
    color: white !important;
}

.blue-button{
    background-color: #2DB9CB !important;
    color: white !important;
}

.display-message {
    text-align: center;
}

/** NEW STUDENT HOME CONTAINER **/
.eds-layout__body {
    width: 1280px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.field-header{
    font-size: 15px !important;
}

.column{
    min-width: 90px !important;
}

.desktop-home {
    display: block;
}

.desktop{
    display: block !important;
}

.mobile{
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .desktop-home{
        display: none !important;
    }
}

// intermediate scalaing views
@media only screen and (max-width: 950px) and (min-width: 600px) {
    .desktop-home{
        display: none !important;
    }
}

@media only screen and (max-width: 1300px) {
    .eds-layout__body {
        width: calc(100vw - 200px) !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (max-width: 600px) {
    .eds-layout__body {
        width: calc(100vw - 30px) !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (max-width: 600px) {
    .info-group{
        display: block;
        .info-text{
            width: 100%;
            .info-heading{
                color: #008B9D;
                font-size: 30px;
            }
        }
        .info-image{
            width: 100%;
            padding: 0;
        }
        .left{
            float: none !important;
        }
        .right{
            float: none !important;
        }
    }

    .desktop{
        display: none !important;
    }

    .mobile{
        display: block !important;
    }
}

@media only screen and (max-width: 600px) {
    .info-group{
        display: block;
        .info-text{
            width: 100%;
            .info-heading{
                color: #008B9D;
                font-size: 30px;
            }
        }
        .info-image{
            width: 100%;
            padding: 0;
        }
        .left{
            float: none !important;
        }
        .right{
            float: none !important;
        }
    }

    .desktop{
        display: none !important;
    }
    .mobile{
        display: block !important;
    }
}

@media print {
    * {
        overflow: visible!important;
    }

    .loader {
        display: none!important;
    }
}