.group-preview {
    width: 100%;
    height: 120px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    margin-top: 30px;
    animation: popopen;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.gp-grid {
    padding: 20px !important;
    height: 120px;

    h1 {
        font-size: 20px;
    }
    
    p {
        font-size: 12px;
    }
}

.gp-img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}