#homepage{
    animation: popopen;
    animation-duration: 1s !important;
    animation-fill-mode: forwards !important;

    .big-home-button{
        button {
            padding-left: 2.25em!important;
            border-radius: 2em;
            background-color: white;
            color: #2DB9CB;
            font-size: 17px !important;
            vertical-align: middle !important;
            animation-duration: 1s !important;
            animation-fill-mode: forwards !important;
            box-shadow: 0 3px 9px 0 lightgrey;
        }

        i {
            background-color: transparent!important;
        }
    }
    .big-home-button.left{
        animation: swipeleft;
    }
    .big-home-button.right{
        animation: swiperight;
    }
    .big-home-button.top.right{
        animation-delay: 0.2s;
    }
    .big-home-button.bottom.left{
        animation-delay: 0.4s;
    }
    .big-home-button.bottom.right{
        animation-delay: 0.6s;
    }

    .orgless-admin-header {
        text-align: center;
    }

    .admin-homepage-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid #efefef;
    }
    
    // mobile
    @media only screen and (max-width: 600px) {
        .big-home-button{
            font-size: 16px !important;
        }
    }

    .home-buttons{
        padding: 15px !important;
    }

    .admin-main-title{
        margin-top: 2em;
        color: #008B9D;
        font-size: 35px;
    }

    .admin-tabs {
        width: 70%;
        margin: 4em auto;

        .ui.tabular.menu .active.item {
            border-bottom: 2px solid white!important;
        }

        .tab {
            border: none!important;
        }

        .ui.container {
            width: 100%!important;
        }
    }
}

.home-banner{
    margin-top: 15px;
    height: 300px;
    .info-text{
        height: 100%;
        .info-heading{ font-size: 38px !important; font-weight: 700; }
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .info-image{
        height: 300px !important;
    }
}

.info-group{
    display: inline-block;
    vertical-align: middle;
    .info-text{
        vertical-align: middle;
        width: 40%;
        float: left;
        .info-heading{
            color: #008B9D;
            font-size: 40px;
        }
    }
    .info-image{
        width: 60%;
        float: left;
        padding: 25px;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
}

// mobile
@media only screen and (max-width: 600px) {
    .home-banner{
        height: auto !important;
        .info-image{
            height: auto !important;
        }
        .info-text{
            .info-heading{
                font-size: 17px !important;
            }
        }
    }
}

.student-home{
    margin-bottom: 50px;
}

.mobile-org-link{
    font-size: 11px !important;
    line-height: 1.4;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

// mobile
@media only screen and (max-width: 600px) {
    .column.mobile-home{
        display: block !important;
    }
}

.mobile-home{
    display: none !important;
}

// intermediate scalaing views
@media only screen and (max-width: 950px) and (min-width: 600px) {
    .column.mobile-home{
        display: block !important;
        // visibility: visible !important;
    }

    .home-banner{
        height: auto;
        .info-image{
            height: auto;
        }
        .info-text{
            width: 60vw !important;
            .info-heading{
                font-size: 24px !important;
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .home-banner{
        .info-image{
            width: calc(100% - 550px) !important;
        }
        .info-text{
            width: 550px !important;
        }
    }
}
