#image-upload-container{
    height: auto;
    position: relative;
    
    #image-centering-overlay{
        z-index: 999;
        position: absolute;
        width: 100%;
        height: 100%;

        #center-block{
            width: 100%;
            opacity: 0;
        }
    }

    #top-block{
        text-align: center;
        color: white;
        border-bottom: 2px solid #2DB9CB;
    }
    
    #bottom-block{
        text-align: center;
        color: white;
        border-top: 2px solid #2DB9CB;
    }

    .shaded-block{
        height: 25px;
        width: 100%;
        opacity: 0.7;
        background-color: #363636;
    }

    .crop-container {
        overflow: hidden;
        
        &.organization {
            height: 350px;
        }

        &.event {
            height: 405px;
        }
    }

    #image-upload-preview {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:active {
            cursor: grabbing;
        }
    }

    .remove-button, .crop-button {
        margin-top: 10px;
        float: right;
    }

}