#main-menu{
    display: none;
    position: absolute;
    margin: 0;
    top: 15px;
    right: 0;
    margin-right: 15px;
    width: 300px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.055), 0 3px 15px 0 rgba(0, 0, 0, 0.075);
    z-index: 9999;
    padding-bottom: 3em;
    background-color: white;
    animation: popopen;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    transform-origin: top;
}

@media only screen and (max-width: 600px){
    #main-menu{
        top: unset !important;
        right: unset !important;
        width: 100vw !important;
        z-index: 9999 !important;
        min-height: 100vh !important;
    }
}

.menu-divider{
    width: 75px;
    height: 2px;
    background-color: #008B9D;
}

.exit{
    width: 100%;
    height: 35px;
}

#closemenu{
    float: right;
    margin: 13px 10px 0px 0px;
    font-size: 25px;
    color: gray;

    &:hover {
        cursor: pointer;
    }
}

.mm-options{
    padding: 0 1em;
}

.mm-link{
    font-size: 20px !important;
    font-weight: 50 !important;
    color: gray;

    &:hover{
        color: #2DB9CB;
    }
}

.mm-option{
    margin: 20px 0px 20px 0px !important;

    &:hover{
        color: #2DB9CB;
    }
}

.mm-selected{
    color: #2DB9CB;
}