.message-bubble-container {
    width: 100vw;

    .message-bubble {
        max-width: 65%;
        border-radius: 14px;
        padding: 3px 13px 4px 13px;
        margin: 10px 10px 0px 10px;
        clear: both;
        animation: popopen;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;

        .message-content {
            font-size: 16px;
        }
    }

    .left {
        float: left;
        background-color: rgb(230, 230, 230);
        color: black;
    }

    .right {
        float: right;
        background-color: #11bf66;
        color: white
    }
}