#message-thread{
    height: calc(100vh - 60px);

    // entrance
    animation: swiperight;
    animation-duration: 0.7s;
    animation-direction: forward;
}

#msg-thread-header{
    height: 75px;
    padding: 15px;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(230,230,230);

    a{
        color: rgb(59, 59, 59);
    }
}

.avatar-column{
    text-align: center !important;
}

.avatar-container{
    display: inline-block;
    margin: auto;
    .msg-thread-avatar{
        
        display: inline-block;
        vertical-align: middle;
    }
    .short-name{
        vertical-align: middle;
        display: inline-block;
        margin-left: 10px;
        h1{
            font-size: 17px;
            color: rgb(59, 59, 59);
        }
    }
}
.msg-thread-avatar{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

#msg-input{
    padding: 15px;
    height: 70px;
    background-color: rgb(240, 240, 240);
    border-top: 1px solid rgb(230,230,230);

    .ui.input{
        width: 100% !important;
    }

    #text-input-column{
        padding-right: 0px !important;
    }
}

#conversation{
    // screen height - nav - msgheader - sendmessage
    height: calc(100vh - 205px); // 205px = 60px - 75px - 70px
    width: 100vw;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */   

    &::-webkit-scrollbar {
        display: none;
    }
}

