#my-progress{
    animation: popopen;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    .title{
        margin-top: 70px;
        font-size: 38px;
        color: #008B9D;
    }

    #goal-container{
        margin-top: 80px;
        width: 500px;

        #goal{
            padding: 5px 0px;
            position: relative;
            #goal-name{
                strong{
                    font-family: Lato;
                    font-weight: 900;
                }
                font-size: 22px;
            }
            #goal-edit{
                font-size: 16px;
                color: #008B9D;
                cursor: pointer;
                text-decoration: underline;
                position: absolute;
                right: 0;
            }
            #goal-date-range{
                margin-top: 5px;
                font-size: 16px;
                color: #8f8f8fd5;
            }
        }
        #goal-hours{
            strong{
                font-family: Lato;
                font-weight: 800;
            }
            padding: 5px 0px 10px 0px;
            font-size: 16px;
            color: #8f8f8f;
        }
        #progress-bar-container{
            height: 40px;
            width: 100%;
            background-color: rgb(211, 211, 211);
            #progress-bar-complete{
                height: 40px;
                background-color: #28b0c4;
            }
        }
    }
    #my-service-hours{
        font-family: 'Lato';
        margin-top: 50px;
        h1{
            font-size: 20px;
            font-weight: 900;
        }
        table{
            width: 100%;
            color: #848484;
            thead{
                tr{
                    td{
                        width: auto;
                        padding: 6px 0px !important;
                        font-weight: 900;
                        border-bottom: 1px solid #e7e7e7;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        padding: 12px 0px !important;
                        border-bottom: 1px solid #e7e7e7;
                    }
                }
            }
        }
    }

    .or-header {
        font-weight: 900;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .print-only {
        display: none;
    }

    .print-button {
        float: right;
        margin-top: 4.7em;
        margin-right: 2em;
    }

    @media print {
        .title, .or-header, #timesheet-log, #goal-edit, .ui-link, .print-button {
            display: none;
        }

        #my-service-hours {
            margin-top: 0;
        }

        td {
            width: 17.5%!important;
            text-align: left!important;
        }
    
        td:first-child {
            width: 30%!important;
        }

        .print-only {
            display: block;
        }

        #goal-container {
            margin-top: 0;
        }
    }
}

/**
    semantic overrides
*/
#goal-modal{
    .header, .actions{
        background-color: white !important;
        border: 0px !important;
    }  
}