.main-nav{
    background-color: white !important;
    border-bottom: 0px !important;
    height: 60px !important;
    font-size: 20px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.075), 0 3px 10px 0 rgba(0, 0, 0, 0.068) !important;
    z-index: 999;
    position: absolute;
    top: 0;
    margin-left: 0!important;
    margin-right: 0!important;
}

#nav-logo{
    height: 1.5em !important;
    width: 100% !important;
}

.nav-icon{
    padding: 0px 10px 0px 10px;
    color: #008B9D !important;

    &:hover {
        cursor: pointer;
    }
}

@media print {
    .main-nav {
        border: none!important;
        box-shadow: none!important;
        
        .right.item  {
            display: none!important;
        }
    }

}