.notification{
    width: 350px !important;
    height: 75px !important;
    padding: 25px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    color: #4b4b4b;
    background-color: #f1f1f1;
    border-bottom: gray;
    text-overflow: ellipsis;
    font-size: 17px !important;
}