#my-organizations{
    // entrance
    animation: popopen;
    animation-duration: 0.7s !important;
    animation-direction: forward;

    .org-name-list{
        text-overflow: ellipsis;
        width: 60% !important;
    }

    .category-filter-section {
        margin-top: 2em;
    }

    #org-search{
        margin-top: 40px;
        width: 500px;
    }

    .org-search-buttons{
        margin-top: 20px;
        button{
            margin: 10px;
        }
        .ui.active.button {
            background-color: #2DB9CB;
            color: #fff;
        }
    }

    #org-list{
        margin-top: 25px;
        margin-bottom: 25px;
        min-height: calc(100vh - 300px);
        // entrance
        animation: swipeup;
        animation-duration: 0.7s;
        animation-direction: forward;

        .list-item{
            display: flex;
            padding: 1em;
            border-bottom: 1px solid rgb(230, 229, 229);
            width: 100%;

            .main-section {
                width: 70%;
                flex: 1 1;
                padding-right: 0.5em;
            }

            .admin-options {
                position: relative;
                display: flex;
                width: 30%;
                border-left: 1px solid #e5e5e5;

                .number-of-events-notification {
                    display: flex;
                    flex: 1 1 auto;
                    position: absolute;
                    right: -0.5em;
                    top: -0.5em;
                    background-color: red;
                    color: white;
                    padding: 0.25em;
                    min-width: 25px;
                    min-height: 25px;
                    text-align: center;
                    border-radius: 100px;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                }
                
                a {
                    width: 50%;
                    margin-left: 0.5em;

                    button {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        height: 100%;
                        border: 1px #f5f5f5 solid;
                        background-color: white;
                        color: #2db9cb;
                        align-items: center;

                        i, img {
                            margin-bottom: 0.5em!important;
                            font-size: 1.5em;
                        }

                        img {
                            height: 1.2em;
                        }
                    }
                }
            }

            .box {
                width: 100%;
                padding-bottom: 10px;

                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    /* autoprefixer: ignore next */
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }
            }

            h3:hover{
                text-decoration: underline;
            }

            .ui.label:hover{
                cursor: pointer;
                opacity: 0.5;
            }
        }

        .list-item:hover{
            background-color: #2DB9CB33;
        }
    }

    #org-categories{
        margin-top: 90px;
        max-width: 600px;
        p{
            color: #008B9D;
        }
        .ui.grid > .row > .column {
            margin-top: 5px !important;
            margin-bottom: 5px !important;
        }
        .title{
            color: #008B9D;
            font-size: 14px;
            font-weight: 900;
            margin-bottom: 30px;
        }
        .org-category{
            height: 100px;
            transition: 0.2s;
            
            &:hover{
                cursor: pointer;
                opacity: 0.5;
                img{            
                    zoom: 1.05;
                }
                p{
                    text-decoration: underline;
                }
            }
        }
    }
    
    // mobile
    @media only screen and (max-width: 600px) {    
        #org-list{
            min-height: calc(100vh - 200px) !important;
        }
        .org-category{
            p{
                font-size: 12px;
            }
        }

        #org-categories{
            margin-top: 40px;
            margin-bottom: 50px;
        }
    }

    .org-label{
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 600px) {
    #my-organizations{
        margin-top: 30px !important;
    }

    #org-search{
        width: 100% !important;
        display: block !important;
        margin: auto !important;
    }
}