
#org-page{
    margin-bottom: 50px !important;

    .org-label{
        margin-bottom: 5px;
    }

    #org-desc{
        white-space: pre-line;
    }

    #org-image{
        width: 100%;
        height: 350px;
        margin-bottom: 15px;
    }

    .organization-options-menu {
        margin-left: auto;
        height: 20px;
    }

    #no-org-image {
        margin-top: 5em;
    }

    .ui.grid {
        margin-top: 1em;
    }

    @media only screen and (max-width: 600px){
        #org-image{
            height: 225px;
            display: block !important;
            width: 100% !important;
        }
    }
}
