.people-going {
    h1 {
        display: inline-block;
        margin-right: 1em;
    }

    a {
        color: #2db9cb;
        
        i {
            margin-left: 0.5em;
        }
    }
}

#people-going-icon{
    color: #008092;
}