.view-exp {
    text-decoration: underline;
    color: #00994c;
    font-size: 15px !important;
    font-weight: 50 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}