.search-and-explore{
    background-color: #f3f4f8;
    padding: 15px 5px 5px 10px !important;
    margin: 0px !important;
    animation: popopen;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;

}

#search-placeholder{
    padding: 50px 70px 50px 70px;
    text-align: center;
    p{
        font-size: 15px;
        color: rgb(199, 199, 199);
    }
}

.sp-title{
    font-size: 25px;
    color: white;
    margin-bottom: 5px;
}

#event-search{
    width: 700px;
}

.search-loader {
    margin-top: 2em!important;
}

// mobile
@media only screen and (max-width: 600px) {
    #event-search{
        width: 100%;
    }
}