#service-hours{
    animation: popopen;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    .upper-container {
        margin-top: 55px;

        .ui-link {
            margin-bottom: 1em;
        }

        .title{
            margin-top: 70px;
            font-size: 31px;
            font-weight: bold;
        }

        .event-name {
            font-weight: normal;
        }

        .hour-adjust-link {
            float: right;
            color: #28b0c4;
            cursor: pointer;
            
            // force the link's text color to be overwritten
            a { 
                color: #28b0c4 !important; 
            }

            & :not(.icon) {
                text-decoration: underline;
            }
        }
    }
    
    #student-progress-hours{
        font-family: 'Lato';
        margin-top: 35px;
        h1{
            font-size: 20px;
            font-weight: 900;
        }
    }

    .or-header {
        font-weight: 900;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
