.toggle-settings-table {
    margin-top: 15px !important;

    .setting-row {
        padding: 7px !important;
    
        // override semantic ui radio style
        .ui.radio.checkbox input:checked ~ .box:after, .ui.radio.checkbox input:checked ~ label:after {
            background-color: #11bf67 !important;
        }
    }
}