#timesheet-log {
    .icon {
        color: #28b0c4;
        &:hover {
            cursor: pointer;
        }
    }

    .download-column {
        width: 15em;

        &.timesheet-advisor.context > div {
            display: flex;
            justify-content: space-around;
        }

        .download-divider {
            border-left: 1px #e5e5e5 solid;
        }

        .deletion-text {
            text-decoration: underline;
            color: #32bacc;

            &:hover {
                cursor: pointer;
            }
        }

    }
    .deleted-text {
        color: #aaaaaa;
        font-style: italic;
    }
    a {
        display: block;
        width: fit-content;
        
        &:hover {
            cursor: pointer;
        }
    }
    .timesheet-comment {
        width: 38%;
        word-break: break-word;
        position: relative;

        div {
            display: inline-block;

            &:first-child {
                max-width: 90%; 
            }

            &:last-child {
                position: absolute;
                top: 50%;
            }
        }

        i {
            margin-left: 0.5em;
            position: relative;
            top: 50%;
            transform: translateY(-60%);
        }
    }
}
.timesheet-comment-modal {
    width: 35em!important;

    .ui.input {
        width: 100%;
    }
}