.time-table {
    table {
        width: 100%;
        color: #848484;
        thead {
            tr {
                td {
                    width: auto;
                    padding: 6px 0px !important;
                    font-weight: 900;
                    border-bottom: 1px solid #e7e7e7;
                }
            }
        }
        tbody {
            tr {
                &.pointer {
                    cursor: pointer;
                }
                td {
                    padding: 12px 0px 12px 5px !important;
                    border-bottom: 1px solid #e7e7e7;
                }
                &:hover {
                    background-color: #008b9d10;
                }
            }
        }
        .hours-column {
            width: 150px !important;
            text-align: center !important;
        }
    }
}