#timesheet-io {
    .large.file.alternate.icon {
        font-size: 1.3em;
        margin-right: 10px;
    }

    .link {
        color: #008B9D;
        cursor: pointer;
        margin-bottom: 7px;
        
        &:not(.icon) {
            text-decoration: underline;
        }
    }

    .close {
        padding-left: 4.5em;
        padding-right: 4.5em;
        box-shadow: 0px 0px 0px 2px #1b1c1d inset !important;
        font-weight: bold;
    }

    .io-interface {
        margin-top: -10px;
        margin-bottom: -10px;
        padding-top: 14px;
        padding-bottom: 14px;
        background-color: #eeeeeed3;
        border-radius: 4px;
        text-align: center;

        .upload-icon {
            margin-bottom: 5px;
        }

        &.upload-ok {
            background-color: #2ad624;
            font-weight: bold;
        }

        &.upload-error {
            background-color: red;
            font-weight: bold;
        }

        .upload-message {
            color: white;
        }
    }

    .upload-button {
        background-color: #008B9D !important;
    }
}