.ue-top-toggle{
    display: inline-block;
    font-size: 10px;
    width: 100%;
}

.ue-slider{
    margin-top: 10px;
    float: left;
    margin-right: 10px;
}

#upcoming-events-list{
    vertical-align: middle;
}

#event-loader{
    border: none !important;
    box-shadow: none !important;
    min-height: 300px;
}

#sorry{
    text-align: center;
    margin-top: 50px;
}