.user-container{
    text-align: center;
    padding-bottom: 10px;
}

.user-avatar{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.user-name{
    h1 {
        font-size: 14px !important;
        word-break: break-word;
    }
    color: #00994c;
}

.admin-avatar{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.admin-name{
    h1 {font-size: 20px !important;}
    color: #00994c;
}