$blue: #47a3f8;
$light-blue: #2db9cb;

.blue-box {
    background-color: #5babe8;
    height: 7.5px;
    width: 50px;
}

.welcome-image {
    img {
        position: absolute;
        width: 100%;
    }
}

.warning-message {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 600px;
    margin-top: 51px;
    margin-left: -300px;
}

.home-header {
    position: relative;
    color: white;
    overflow: hidden;
    margin-bottom: -200px; // hide slim white bar caused by image
}

.home-body {
    position: relative;
}

.home-footer {
    display: inline-flex;
    margin-left: 16%;
    padding: 16px 0;
    text-align: left;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    width: 69%;

    p {
        margin: 0;
    }
}

.footer-icon {
    width: 200px;
    margin-top: 1em;
    margin-bottom: 1em;;
}

.footer-info {
    font-size: 11px;
    margin-left: 51px;
}

.footer-left-container {
    display: block;
    padding-right: 30px;
    width: auto;
}

.login-subsection {
    position: relative;
    margin-top: -50px;
    background-color: white;
    color: white;

    .welcome-header {
        position: relative;
        bottom: 0;
        margin-bottom: 16px;
        font-size: 35px;
        font-weight: bold;
    }
    
    .welcome-sub-header.student {
        position: relative;
        margin-top: -10px;
        margin-left: 6px;
        margin-bottom: 16px;
        font-size: 17px;
    }
}

.login-button {
    position: relative;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 2.5em;
    width: 11em;
    border: 5px solid white;
    color: white;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Roboto', sans-serif !important;
    font-size: 23px;

    &.light-blue {
        border: 3px solid $light-blue;
        background-color: transparent;
        color: $light-blue;

        &:not([disabled]):hover {
            background-color: $light-blue;
            color: white;
        }
    }

    &:not([disabled]):not(.light-blue):hover {
        background-color: white;
        color: black;
    }

    &:disabled {
        border-color: gray;
        color: gray;
    }
}

.screenshot-preview {
    width: 500px;

    &.horizontal {
        width: 620px;
    }

    &.leading {
        margin-top: 10px;
        margin-right: 150px;
    }

    &.tailing {
        margin-top: 51px;
    }
}

.tutorial-image {
    width: 800px;
}

.center-title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.tutorial-container {
    display: flex;
    padding: 80px 10px; 
    color: #3d3d3d;
}

.tutorial-text {
    margin-top: 40px;
    width: 500px;
    margin-right: 150px;
    text-align: left;
}

.light-gray-backgound-wrapper {
    background-color: #f2f2f2;
    width: 100%;
}

.gray-backgound-wrapper {
    background-color: #e8e8e8;
    width: 100%;
}

.title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 23px;
}

.center-title {
    @extend .title;
    text-align: center;
}

.sub-title {
    font-weight: bold;
    font-size: 37px;
    color: #666;
}

.word-group {
    display: inline-block;
    white-space: nowrap; 
    width: auto;
    margin-top: 0.5em;
}

@media screen and (max-width: 683px) {
    .home-footer {
        text-align: center;

        .footer-left-container {
            padding-right: 0;
        }
    }
}

@media screen and (min-width: 684px) {
    .footer-left-container {
        border-right: 5px solid #e8e8e8;
    }
}

@media screen and (min-width: 1301px) {
    .welcome-image {
        img {
            margin-top: -163px;
        }
    }
}

@media screen and (min-width: 1205px) {
    .home-header {
        height: 716px;
    }
}

@media screen and (min-width: 981px) and (max-width: 1204px) {
    .welcome-image {
        height: 650px;
    }
}

@media screen and (max-width: 980px) {
    .welcome-image {
        height: 573px;
    }
}

@media screen and (min-width: 1400px) {
    .home-footer {
        margin-left: 20%;
        width: 65%;

        .footer-info {
            margin-top: 12px;
        }
    }
}

@media screen and (max-width: 1240px) {
    .mobile {
        .screenshot-preview {
            width: 480px;
        }

        .tutorial-image {
            width: 500px;
        }
    }
}

@media screen and (min-width: 1201px) {
    .tutorial-container {
        position: relative;
        left: 50%;
        margin-left: -550px;
    }
}

@media screen and (max-width: 1200px) {
    .mobile {
        &:not(.welcome-image):not(.header-container):not(.home-footer) {
            margin-left: 80px;
        }
    
        .tutorial-text {
            width: 350px;
        }
    
        .screenshot-preview {
            margin-top: 20px;
            margin-left: -114px;
            width: 422px;
        }
    }
}

@media screen and (min-width: 918px) and (max-width: 1200px) {
    .mobile {
        .screenshot-preview {
            margin-left: -65px;
        }
    } 
}

@media screen and (max-width: 853px) {
    .login-subsection {
        position: relative;
        margin-top: -50px;
        background-color: white;
        
        .welcome-header {
            font-size: 29px;
        }
    }

    .mobile {
        .screenshot-preview {
            margin-left: 0 !important;
            width: 350px;
        }

        &.header-container {
            & .login-button {
                background-color: transparent;
            }
        }
    
        &.tutorial-container {
            display: block;

            & > * {
                width: 500px;
            }
        }
        
        .tutorial-image {
            width: 500px;
        }
    }
}

@media screen and (max-width: 828px) {
    .welcome-image img {
        width: auto;
        height: 550px;
    }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
    .welcome-image img {
        margin-top: -106px;
    }
}

@media screen and (max-width: 683px) {
    .mobile {
        &:not(.welcome-image):not(.header-container):not(.home-footer) {
            margin-left: 23px;
        }
    
        &.home-footer {
            display: block;
        }
    
        &.home-footer .footer-info {
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 550px) {
    .mobile {
        &.tutorial-container > * {
            width: 300px;
        }

        .tutorial-image {
            width: 420px;
        }
    }
}

@media screen and (min-width: 485px) and (max-width: 1300px) {
    .welcome-image {
        margin-top: -22px;
        height: 673px
    }
}

@media screen and (max-width: 440px) {
    .mobile {
        &.tutorial-container > * {
            width: 300px;
        }
    
        .screenshot-preview {
            width: 300px;
        }

        .tutorial-image {
            width: 400px;
        }
    }
}

@media screen and (max-width: 375px) {
    .mobile {
        &.tutorial-container > * {
            width: 250px;
        }
    
        .screenshot-preview {
            width: 250px;
        }

        .tutorial-image {
            width: 350px;
        }
    
        &.home-footer .footer-info {
            width: 250px;
        }
    }
}