.star-logo {
    padding: 0px 4px; 
    width: 8.5em !important;
}

#top-nav-menu {
    background-color: rgba(0,0,0,.4);

    &.ui.menu .item {
        padding-right: 8px;
        padding-left: 8px;
        
        &:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,.65);
        }
    }

    .application-logo {
        position: absolute;
        top: 5px;
        right: 20px;
        width: 168px;
    }
}

.ui.borderless.menu{
    margin: 0;
    padding: 3px;
}

@media (max-width: 815px) {
    #top-nav-menu .hide-on-moblie {
        display: none !important;
    } 
}

@media screen and (max-width: 550px) {
    #top-nav-menu .application-logo {
        top: 10px;
        right: 10px;
        width: 125px;
    }
}
