@use 'nav-bar';
@use 'base-home' as base;

#top-nav-menu {
    background-color: #fff;
    border: none;
    box-shadow: none;

    .item:hover {
        background-color: rgba(0,0,0,.09)!important;
        border-radius: 3px!important;
    }

    .application-logo {
        filter: brightness(0) saturate(100%);
    }
}

.login-subsection {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -145px;
    margin-left: -245px;
}

.login-options {
    width: 450px;
    padding: 24px 38px 38px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: white;

    .login-header {
        padding-bottom: 14px;
        color: #008b9d8c;
        text-align: center;
        border-bottom: 1px solid #8080804a;
    }

    %button {
        display: flex !important;
        height: 49px;
        padding-top: 5px;
        font-size: 18px;
    }

    .uh-login {
        @extend %button;
        margin-top: 33px;

        .text {
            margin-top: 11px;
            margin-left: 22px;
        }
    }

    .google-login {
        @extend %button;
        margin-top: 24px;
        padding-left: 14px;

        .text {
            margin-top: 11px;
            margin-left: 7px;
        }
    }
}

.bold {
    font-weight: bold;
}

.uh-signin-logo {
    margin-top: 2px;
    width: 35px;
}

.google-signin-logo {
    margin-top: -13px;
    width: 66px;
}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

@media screen and (max-height: 534px){
    .footer-container {
        display: none;
    }
}