@use 'nav-bar';
@use 'base-home' as base;

.header-container {
    position: absolute;
    margin-left: 410px;
    bottom: 150px;
}

.bold {
    font-weight: bold;
}

.summary-container {
    display: inline-flex;
    padding: 80px 10px;
}

.summary-text {
    font-weight: bold;
    width: 500px;
    margin-right: 150px;
    text-align: left;
    color: #666;
    
    p {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1280px) {
    .header-container {
        margin-left: 250px;
    }
}

@media screen and (min-width: 1205px) and (max-width: 1624px) {
    .home-header {
        height: 620px;
    }
}

@media screen and (min-width: 1205px) and (max-width: 1300px) {
    .home-header {
        height: 665px;
    }
}

@media screen and (min-width: 1201px) {
    .summary-container {
        position: relative;
        left: 50%;
        margin-left: -550px;
    }
}

@media screen and (max-width: 1200px) {
    .mobile {
        .summary-text {
            width: 300px;
        }
    }
}

@media screen and (max-width: 853px) {
    .mobile {
        &.header-container {
            position: relative;
            display: block;
            left: 50%;
            bottom: 0;
            margin-left: -180px;
            padding-top: 10px;
            padding-bottom: 20px;

            & > *, .login-button {
                width: 360px;
                border-color: base.$blue;
                color: base.$blue;
            }
        }

        &.summary-container {
            display: block;

            & > * {
                width: 500px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .mobile {
        &.summary-container > * {
            width: 300px;
        }
    }
}

@media screen and (max-width: 440px) {
    .mobile {
        &.header-container {
            margin-left: -143px;

            & > * {
                width: 300px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .mobile {
        &.header-container {            
            margin-left: -123px;

            & > * {
                width: 250px;
            }
        }

        &.summary-container > * {
            width: 250px;
        }
    }
}

@media screen and (min-width: 1277px) and (max-height: 455px) {
    .header-container {
        bottom: 394px;
    }
}