@use 'nav-bar';
@use 'base-home' as base;

$light-blue: #2db9cb;

.login-subsection {
    position: relative;
    margin-top: -50px;
    background-color: white;
    color: white;

    .welcome-header {
        position: relative;
        bottom: 0;
        margin-bottom: 16px;
        font-size: 35px;
        font-weight: bold;
    }
    
    .welcome-sub-header.student {
        position: relative;
        margin-top: -10px;
        margin-left: 6px;
        margin-bottom: 16px;
        font-size: 17px;
    }
}

.login-button {
    margin-top: 30px;
    width: 11em;
    border: 5px solid white;
    height: 2.5em;
}

.step-indicator {
    display: block;
}

.header-container {
    position: absolute;
    margin-left: 283px;
    bottom: 94px;
}

.welcome-image {
    img {
        position: absolute;
        width: 100%;
    }

    .image-content {
        transition: margin-top 8s, opacity 10s;
    }
}

@media screen and (min-width: 1301px) and (max-width: 1500px) {
    .welcome-image img {
        margin-top: -41px;
    }
}

@media screen and (max-width: 1280px) {
    .header-container {
        margin-left: 250px;
    }
}

@media screen and (max-width: 1200px) {
    .tutorial-container {
        padding-top: 29px;
    }

    .mobile {
        .screenshot-preview {
            margin-left: -1px;
        }

        .tutorial-text {
            margin-right: 49px;
        }
    }
}

@media screen and (max-width: 853px) {
    .login-subsection {
        position: relative;
        margin-top: -50px;
        background-color: white;
        
        .welcome-header {
            font-size: 29px;
        }
    }

    .mobile {
        &.header-container {
            display: block;
            left: 50%;
            bottom: 0;
            margin-left: -180px;
            margin-bottom: 20px;
            padding-top: 10px;
            padding-bottom: 20px;

            & > *:not(.step-indicator) {
                width: 360px;
            }

            & .login-button {
                background-color: transparent;
            }
        }
    }
}

@media screen and (max-width: 683px) {
    .tutorial-container {
        padding-top: 2px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 440px) {
    .mobile {
        &.header-container {
            margin-left: -143px;

            & > *:not(.step-indicator) {
                width: 300px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .mobile {
        &.header-container {            
            margin-left: -123px;

            & > *:not(.step-indicator) {
                width: 250px;
            }
        }
    }
}

@media screen and (min-width: 1277px) and (max-height: 455px) {
    .header-container {
        bottom: 394px;
    }
}

@media screen and (min-width: 1301px) {
    .welcome-image {
        img {
            margin-top: -215px;
        }
    
        .image-content {
            &.slide-up {
                margin-top: -310px;
            }
            &.slide-down {
                margin-top: 10px;
            }
            &.fade-out {
                opacity: 0;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .welcome-image {
        .image-content {
            &.slide-up {
                margin-top: -50px;
            }
            &.slide-down {
                margin-top: 50px;
            }
            &.fade-out {
                opacity: 0;
            }
        }
    }
}